<div class="container mt-4 text-center">
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>

  <%= link_to "一覧に戻る", problems_path, class: "btn btn-secondary" %>
  <%= link_to "もう一度挑戦", problems_path, class: "btn btn-primary" %>
</div>
